.view {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background-color: transparent;
    padding: 1rem;
    padding-top: 10px;
    color: rgba(229, 223, 223, 0.9);
  }
  
  .bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .heading {
    text-align: center;
    font-size: 40px;
    color: rgba(229, 223, 223, 0.9);
    margin-bottom: 2rem;
  }
  
  .itembox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .card {
    border: 1px solid grey;
    padding: 1rem;
    width: 200px;
    background: transparent;
    border-radius: 11px;
    color: #fff;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 0.5rem;
  }
  
  .card h4 {
    color: #fff;
    text-align: center;
    font-size: 18px;
  }
  

  @media (max-width: 768px) {
    .view-items-container{
        background-color: black;
    }
    .item-card {
      width: 45%;
    }
  
    .items-heading {
      font-size: 28px;
    }
  }
  
  @media (max-width: 480px) {
    .item-card {
      width: 90%;
    }
  
    .items-heading {
      font-size: 24px;
    }
  }
  